<h1><%= @character["name"] %></h1>
<p>Level: <%= @character["level"] %></p>
<p>Experience: <%= @character["experience"] %></p>
<p>Class: <%= @character["class"] %></p>
<p>Member since: <%= @character["created_at"] %></p>
<p>Last logged in: <%= @character["updated_at"] %></p>


