<div>
	<div class="row">
		<% if @character.code != 200 %>
		<div class="col-md-6">
			<h2>Character not found</h2>
		</div>
		<% else %>
			<div class="col-md-6">
				<% if @character["name"] %>
          <h2><%= @character["name"] %></h2>
        <% else %>
          <h2>No name</h2>
        <% end %>
				<% if current_user != nil && current_user.uid == @character["google_id"] %>
          <strong>You own this character</strong>
          <% if current_user.hidden %>
            <%= button_to "Set to public", {:controller => "characters", :action => "toggle_hide"}, :class => "btn btn-warning" %> <br>
          <% else %>
            <%= button_to "Set to private", {:controller => "characters", :action => "toggle_hide"}, :class => "btn btn-warning" %> <br>
          <% end %>
        <% end %>

        <% if @owner != nil && current_user != nil && @owner.uid == current_user.uid %>
        	<p><strong>Level: </strong><%= @character["level"] %></p>
    			<p><strong>Experience: </strong><%= @character["experience"] %></p>
    			<p><strong>Class: </strong><%= @character["class"] %></p>
          <p><strong>Melee Level: </strong><%= @character["melee"] %></p>
          <p><strong>Distance Level: </strong><%= @character["distance"] %></p>
          <p><strong>Magic Level: </strong><%= @character["magic"] %></p>
    			<p><strong>Member since: </strong><%= @character["created_at"].to_time.to_formatted_s(:long)  %></p>
    			<p><strong>Last logged in: </strong><%= ((Time.now - @character["updated_at"].to_time)/60/60/24).round.to_i %> days ago</p>
    			<% if current_user != nil  && !current_user.character_followed?(@character["id"].to_s) %>
    				<%= button_to "Follow Player", {:controller => "characters", :action => "follow", :id => @character["id"]}, :class => "btn btn-success" %>
          <% elsif current_user != nil %>
            <%= button_to "Unfollow Player", {:controller => "characters", :action => "follow", :id => @character["id"]}, :class => "btn btn-success" %>
    			<% end %>
    		<% elsif @owner != nil && @owner.hidden%>
    			<h3>Character is set to private</h3>
    		<% else %>
    			<p><strong>Level: </strong><%= @character["level"] %></p>
    			<p><strong>Experience: </strong><%= @character["experience"] %></p>
    			<p><strong>Class: </strong><%= @character["class"] %></p>
          <p><strong>Melee Level: </strong><%= @character["melee"] %></p>
          <p><strong>Distance Level: </strong><%= @character["distance"] %></p>
          <p><strong>Magic Level: </strong><%= @character["magic"] %></p>
    			<p><strong>Member since: </strong><%= @character["created_at"].to_time.to_formatted_s(:long)  %></p>
    			<p><strong>Last logged in: </strong><%= ((Time.now - @character["updated_at"].to_time)/60/60/24).round.to_i %> days ago</p>
    			<% if current_user != nil  && !current_user.character_followed?(@character["id"].to_s) %>
    				<%= button_to "Follow Player", {:controller => "characters", :action => "follow", :id => @character["id"]}, :class => "btn btn-success" %>
          <% elsif current_user != nil %>
            <%= button_to "Unfollow Player", {:controller => "characters", :action => "follow", :id => @character["id"]}, :class => "btn btn-success" %>
    			<% end %>
        <% end %>
			</div>
		<% end %>
		<div class="col-md-6">
			<% if current_user != nil%>
				<h2><%= current_user.name %> Following</h2>
				<div class="followers">
					<% if @following != nil %>
						<ul>
							<% @following.each do |character| -%>
							<li><a href="/characters/show/<%= character["id"] %>"><%= character["name"] || "No Name" %></a><p><strong>Level: </strong><%= character["level"] %><strong>&nbsp;&nbsp;&nbsp;&nbsp;Last logged in: </strong><%= ((Time.now - character["updated_at"].to_time)/60/60/24).round.to_i %> days ago</p></li>
						<% end -%>
						</ul>
					<% else %>
						<p>No followers to display</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
