<div>
	<div class="row">
		<% if @character.code != 200 %>
			<h2>Character not found</h2>
		<% else %>
			<div class="col-md-6">
				<h2><%= @character["name"] %></h2>
				<% if current_user.uid == @character["google_id"] %>
          <strong>You own this character</strong>
          <% if current_user.hidden %>
            <%= button_to "Set to public", {:controller => "characters", :action => "toggle_hide"}, :class => "btn btn-warning" %> <br>
          <% else %>
            <%= button_to "Set to private", {:controller => "characters", :action => "toggle_hide"}, :class => "btn btn-warning" %> <br>
          <% end %>
        <% end %>

        <% if @owner != nil && @owner.hidden %>
          <h3>Character is set to private</h3>
        <% else %>
  				<p><strong>Level: </strong><%= @character["level"] %></p>
  				<p><strong>Experience: </strong><%= @character["experience"] %></p>
  				<p><strong>Class: </strong><%= @character["class"] %></p>
  				<p><strong>Member since: </strong><%= @character["created_at"].to_time.to_formatted_s(:long)  %></p>
  				<p><strong>Last logged in: </strong><%= ((Time.now - @character["updated_at"].to_time)/60/60/24).round.to_i %> days ago</p>
  				<% if current_user != nil  && !current_user.character_followed?(@character["id"].to_s) %>
  					<%= button_to "Follow Player", {:controller => "characters", :action => "follow", :id => @character["id"]}, :class => "btn btn-success" %>
  				<% end %>
        <% end %>

			</div>
			<div class="col-md-6">
				<h2>Following</h2>
				<div class="followers">
					<% if @following != nil %>
						<ul>
							<% @following.each do |character| -%>
							<li><a href="/characters/show/<%= character["id"] %>"><%= character["name"] %></a></li>
						<% end -%>
						</ul>
					<% else %>
						<p>No followers to display</p>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
