<% if @character.code != 200 %>
  <h2>Character not found</h2>
<% else %>
  <h1><%= @character["name"] %></h1>
  <% if current_user.uid == @character["google_id"] %>
    <strong>You own this character</strong>
  <% end %>
  <p>Level: <%= @character["level"] %></p>
  <p>Experience: <%= @character["experience"] %></p>
  <p>Class: <%= @character["class"] %></p>
  <p>Member since: <%= @character["created_at"].to_time.to_formatted_s(:long)  %></p>
  <p>Last logged in: <%= ((Time.now - @character["updated_at"].to_time)/60/60/24).round.to_i %> days ago</p>
  <% # raise 'boom' %>

<% end %>