<!DOCTYPE html>
<html>
<head>
	<title>Rucoy Online!</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
 	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<nav>
					<h1>Rucoy Online!</h1>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Home",   '/' %></li>
						<li><%= link_to "Leaderboards",   '/characters/highscores' %></li>
						<li><%= link_to "About Us",   '/about' %></li>
						<li><%= link_to "Contact Us",   '/contact' %></li>
						<% if current_user %>
							<li>
								<%= link_to "Character - " + current_user.name,   '/characters/show/' + current_user.uid %>
							</li>
							<li>
								<%= link_to "Sign out", signout_path, id: "sign_out" %>
							</li>
							<li>
								<input class="playerSearch" type="text" name="playerSearch" placeholder="Player Search">
							</li>
						<% else %>
							<li>
								<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
							</li>
						<% end %>
					</ul>
				</nav>
			</div>
		</header>

		<div class="container" style="margin-top: 50px;">
			<%= yield %>
		</div>

	</body>
</html>
